.areas {
  padding: 4rem 80px;
  background: url("./../img/icon/balance.svg") no-repeat top 16px right 16px;
  background-color: var(--am1);
}

.titulo-secao {
  position: relative;
}

.titulo-secao h2 {
  margin: 0;
  font-family: "Amiri", serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--az1);
  text-align: center;
  cursor: default;
}

.titulo-secao h2:hover .detalhe-bot {
  transform: skew(40deg);
  width: 150px;
}

.titulo-secao h2:hover .detalhe-top {
  transform: skew(40deg);
  width: 150px;
}

.detalhe-top {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  bottom: 8px;
  right: 27%;
  background-color: var(--az1);
  transition: 0.4s;
}

.detalhe-bot {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  top: 0px;
  left: 28%;
  background-color: var(--az1);
  transition: 0.4s;
}

.areas__secoes ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0px;
}

.areas__secoes li:nth-child(n + 5) {
  margin-top: 0.8rem;
}

.areas__secoes img {
  max-width: 100%;
  border-radius: 05px;
  object-fit: cover;
}

.areas__secoes-bg {
  transition: 0.3s;
  position: relative;
  width: 100%;
  height: 180px;
}

.areas__secoes li:hover {
  background-image: linear-gradient(100deg, #d1b656 0%, #bd6532 100%);
  border-radius: 5px;
}

.areas__secoes-bg:hover img {
  -webkit-mask-image: linear-gradient(
    180deg,
    transparent 30%,
    rgb(255, 255, 255) 100%
  );
  border-radius: 5px;
}

.capsula {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.capsula h4 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--c0);
  position: absolute;
  padding: 0px 2rem;

  margin-top: 30%;
  transition: 0.4s;
}

.btn__areas-cta {
  background: #353544;
  box-shadow: 0px 21px 80px rgba(53, 53, 68, 0.18),
    0px 6.33089px 24.1177px rgba(53, 53, 68, 0.117286),
    0px 2.62953px 10.0172px rgba(53, 53, 68, 0.09),
    0px 0.951048px 3.62304px rgba(53, 53, 68, 0.062714);
  border-radius: 5px;
  padding: 8px 22px;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;

  color: var(--c0);
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  margin-top: 55%;
  z-index: 50;
  display: none;
}

.areas__secoes-bg:hover .btn__areas-cta {
  display: inline-flex;
}

.areas__secoes-bg:hover .capsula h4 {
  margin-top: 12%;
}

/* mobile */
@media (max-width: 800px) {
  .areas {
    padding: 4rem 40px;
  }

  .areas h2 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 120%;
  }

  .detalhe-top {
    bottom: -0.5rem;
    left: 55%;
    transform: skew(40deg);
    width: 100px;
  }

  .detalhe-bot {
    top: -0.5rem;
    left: 18%;
    transform: skew(40deg);
    width: 100px;
  }

  .titulo-secao h2 {
    font-size: 2.5rem;
  }

  .areas__secoes ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  .areas__secoes li:nth-child(n + 5) {
    margin-top: 0rem;
  }

  .areas__secoes-bg {
    height: auto;
  }

  .capsula {
    position: absolute;
    top: 2rem;
  }

  .capsula h4 {
    font-size: 1.25rem;
    letter-spacing: 0.1em;
    position: absolute;
    padding: 0px 2rem;
    margin-top: 0%;
  }

  .btn__areas-cta {
    padding: 8px 22px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    color: var(--c0);
    position: absolute;
    top: 1rem;
    transform: translateY(-50%);
    margin-top: 55%;
    z-index: 50;
    display: flex;
  }

  .areas__secoes-bg:hover .btn__areas-cta {
    display: inline-flex;
  }

  .areas__secoes-bg:hover .capsula h4 {
    margin-top: 1rem;
  }
}
