.carousel {
  position: relative;

  height: calc(100vh - 100px);
  width: 100%;
  overflow: hidden;
}

.carousel__btn {
  position: absolute;

  width: 2.25rem;
  height: 2.25rem;

  top: 50%;

  transform: translateY(-50%);

  border: none;
  border-radius: 50%;

  background-color: #fff;
  background-size: 0.5rem;
  background-repeat: center;
  background-repeat: no-repeat;

  padding: 0.2rem;

  z-index: 10;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}

.carousel__btn:hover {
  opacity: 1;
}

.carousel__btn-ant {
  left: 0;

  margin-left: 1rem;

  background-image: url("./../img/icon/seta-esquerda.svg");
  background-position: 0.8rem center;
}

.carousel__btn-prox {
  right: 0;
  margin-right: 1rem;
  background-image: url("./../img/icon/seta-direita.svg");
  background-position: 0.95rem center;
}

.carousel__lista-prod {
  position: relative;
  height: 100%;
  transition: transform 0.3s;
}

.carousel__prod {
  position: absolute;
  top: 0;
  bottom: 0;

  width: 100%;
}

.carousel__img-container {
  width: 100%;
  height: 100%;
}

.carousel__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__indicadores {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel__indicador {
  width: 2.5rem;
  height: 0.5rem;

  background-color: #fff;
  border-radius: 2rem;
  border: none;
  margin: 1rem 0.5rem;
  opacity: 0.3;
}

.carousel__indicador-ativo {
  background-color: var(--am1);
  opacity: 1;
}

.carousel__txt {
  position: absolute;
  font-family: "Amiri", serif;
  font-weight: 700;
  text-transform: uppercase;
  top: 33vh;
  left: 80px;
}

.carousel__txt h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  color: var(--c2);
  line-height: 120%;
}

.carousel__txt h1 {
  line-height: 120%;
  font-size: 2.5rem;
  color: var(--c0);
}

.cta__btn {
  position: absolute;
  top: 70vh;
  left: 80px;
  display: flex;
  text-transform: uppercase;
}

.btn__pri {
  background: #ecd087;
  box-shadow: 0px 21px 80px rgba(221, 161, 94, 0.18),
    0px 6.33089px 24.1177px rgba(221, 161, 94, 0.117286),
    0px 2.62953px 10.0172px rgba(221, 161, 94, 0.09),
    0px 0.951048px 3.62304px rgba(221, 161, 94, 0.062714);
  border-radius: 5px;
  padding: 10px 30px;
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--az1);
  margin-right: 2rem;
  transition: 0.3s;
}

.btn__pri:hover {
  background: #dfc37c;
  box-shadow: 0px 21px 80px rgba(221, 161, 94, 0.36),
    0px 6.33089px 24.1177px rgba(221, 161, 94, 0.2346),
    0px 2.62953px 10.0172px rgba(221, 161, 94, 0.18),
    0px 0.951048px 3.62304px rgba(221, 161, 94, 0.1254);
}

.btn__sec {
  border: 2px solid var(--c2);
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  color: var(--c2);
  padding: 10px 30px;

  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  transition: 0.3s;
}

.btn__sec:hover {
  color: var(--c0);
  border: 2px solid var(--c0);
}

/* mobile */
@media (max-width: 800px) {
  .carousel {
    height: calc(100vh - 110px);
  }

  .carousel__btn-ant {
    margin-left: 0.5rem;
  }

  .carousel__btn-prox {
    margin-right: 0.5rem;
  }

  .carousel__indicador {
    width: 4rem;
    height: 1rem;
    margin-bottom: 2rem;
  }

  .carousel__txt {
    top: 25vh;
    left: 40px;
  }

  .carousel__txt h1 {
    font-size: 2.5rem;
  }

  .cta__btn {
    position: absolute;
    top: 71vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    left: 50%;
    transform: translatex(-50%);
  }

  .btn__pri {
    padding: 16px 20px;
    font-size: 1rem;
    letter-spacing: 0rem;
    margin-right: 0;
    width: 70vw;
  }

  .btn__sec {
    padding: 16px 20px;
    font-size: 1rem;
    width: 70vw;
  }
}
