.feedback__bg {
  padding: 4rem 0px;
  background-color: var(--am1);
}

.feedback__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 4rem 80px 0px 80px;
  gap: 40px;
}

#feedback .sobre__texto span {
  background-color: var(--az1);
}

#feedback .sobre__texto h4 {
  color: #846925;
}

.titulo__desc {
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  padding: 1rem 20%;
  text-align: center;

  color: #5b5b5b;
}

.feedback__depo {
  border-radius: 5px;
  background-color: var(--am2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Kanit", sans-serif;
  box-shadow: 0px 55px 94px rgba(0, 0, 0, 0.08),
    0px 16.5809px 28.3382px rgba(0, 0, 0, 0.0521271),
    0px 6.88685px 11.7703px rgba(0, 0, 0, 0.04),
    0px 2.49084px 4.25707px rgba(0, 0, 0, 0.0278729);
}

.depo-ft {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.depo-nome {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--az1);
  margin-top: 0.5rem;
}

.depo-prof {
  font-weight: 300;
  color: var(--c2);
}

.depo-linha {
  background-color: var(--az1Tr);
  width: 50%;
  height: 2px;
  margin: 0.5rem 0;
}

.depo-txt {
  font-weight: 300;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 1rem;

  color: #636363;
}

.depo-est {
  margin-top: 1rem;
}

/* mobile */
@media (max-width: 800px) {
  .feedback__grid {
    grid-template-columns: 1fr;
    padding: 4rem 40px;
  }

  #feedback .detalhe-top {
    left: 65%;
  }

  #feedback .detalhe-bot {
    left: 10%;
  }

  .titulo__desc {
    padding: 1rem 40px;
  }
}
