.footer__bg {
  background-color: var(--az1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 80px;
  font-family: "Kanit", sans-serif;
}

#footer .logo__img {
  align-self: start;
}

#footer .logo__det::before {
  height: 10px;
  width: 100px;
  content: "";
  position: relative;
  background-color: var(--am1);
  top: 1rem;
  z-index: 100;
}

.footer__areas {
  text-align: center;
}

.footer__tit {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--c0);
  margin-bottom: 1rem;
}

.footer__areas-lista a {
  color: var(--c2);
  font-weight: 100;
  font-size: 14px;
  line-height: 21px;
  transition: 0.3s;
}

.footer__areas-lista a:hover {
  color: var(--c0);
  margin-left: -1rem;
}

.footer__areas-lista span {
  height: 5px;
  width: 5px;
  background-color: var(--c2);
  content: "";
  position: absolute;
  transform: translateX(-1.8rem) rotate(45deg);
  margin: 10px 0px 0px 12px;
  transition: 0.5s;
}

.footer__areas-lista li:hover span {
  background-color: var(--c0);
  transform: translateX(-1.5rem) rotate(90deg);
}

.footer__contatos-item {
  display: flex;
}

.footer__contatos-item p {
  margin: 0.5rem;
}

.footer__contatos-item img {
  padding-left: 1rem;
}

.footer__contatos {
  text-align: center;
}

.footer__contatos a {
  display: flex;
  color: var(--c2);
  font-weight: 100;
  transition: 0.5s;
}

.footer__contatos a:hover {
  color: var(--c0);
}

.footer__contatos-item:last-child {
  background-color: #282835;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  width: 70%;
}

.plantao {
  background-color: var(--az2);
  text-align: center;
  padding: 10px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  line-height: 1.25rem;
}

.plantao a {
  color: var(--c0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.plantao p {
  margin-left: 1rem;
}
