.header__bg {
  background-color: var(--az1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Kanit", sans-serif;
  height: 100px;
}

.header a:hover {
  color: var(--c0);
  transition: 0.3s;
}

.logo__img {
  display: flex;
  align-items: center;
  width: 25vw;
}

.logo__img p {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--c0);
  margin-left: 1rem;
  line-height: 1;
}

.logo__img p::before {
  height: 1px;
  width: 100px;
  content: "";
  position: absolute;
  background-color: var(--am1);
  top: 1rem;
}

.header__infos {
  display: grid;
  grid-template-rows: 40% 60%;
}

.header__infos img {
  max-width: 20px;
}

.header__infos-dados {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  border-bottom: 1px solid var(--am1);
}

.header__infos-dados a {
  display: flex;
  color: var(--c2);
  font-weight: 300;
  gap: 0.5rem;
  font-size: 0.875rem;
  align-items: center;
}

.header__menu {
  display: flex;
  gap: 2rem;
}

.header__menu a {
  padding: 16px 0;
  color: var(--c2);
  display: inline-block;
}

.header__menu span {
  height: 5px;
  width: 5px;
  background-color: var(--am1);
  content: "";
  position: absolute;
  transform: translateX(-1.8rem) rotate(45deg);
  margin: 10px 0px 0px 12px;
  transition: 0.5s;
}

.header__menu a:hover span {
  transform: translateX(-1.8rem) rotate(90deg);
}

#btn__mobile {
  display: none;
}

/* mobile */
@media (max-width: 800px) {
  #btn__mobile {
    display: flex;
    border: none;
    background: none;
    color: var(--c0);
    font-family: "Kanit", sans-serif;
    font-weight: bold;
  }

  .header {
    padding: 16px 20px;
    margin: 0px auto;
    height: auto;
    height: 100px;
  }

  .logo__img img {
    display: none;
  }

  .logo__img p {
    display: flex;
    font-size: 1rem;
    margin-left: 0rem;
    line-height: 1;
  }

  .header__infos-dados {
    display: none;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    gap: 0px;

    width: 100%;
    top: 100px;
    right: 0px;
    background-color: var(--az1);
    height: 0px;
    transition: 0.6s;
    z-index: 1000;

    visibility: hidden;
    overflow-y: hidden;
    align-items: center;
  }

  #header__nav.active .header__menu {
    visibility: visible;
    height: 30vh;
    overflow-y: auto;
  }

  .hamburguer {
    display: block;
    border-top: 3px solid;
    width: 30px;
    margin-left: 1rem;
  }

  .hamburguer::after,
  .hamburguer::before {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }

  #header__nav.active .hamburguer {
    border-top-color: transparent;
  }

  #header__nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }

  #header__nav.active .hamburguer::before {
    transform: rotate(135deg);
  }

  .header__menu span {
    display: none;
  }
}
