.sobre {
  background-color: #1d1e1f;
}

.sobre__grid {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 8rem 15%;
  gap: 4rem;
  background: url("./../img/icon/hammer.svg") no-repeat top 10rem left 0px;
}

.sobre p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--c2);
  font-family: "Kanit", sans-serif;
}

.sobre__subtit {
  font-family: "Amiri", serif;
  font-size: 1.125rem;
  line-height: 120%;

  color: var(--c2);
  position: relative;
  display: flex;
}

.sobre__subtit span {
  width: 100px;
  height: 3px;
  background: var(--am1);
  display: flex;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.sobre__tit {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 5rem;
  font-family: "Kanit", sans-serif;

  color: var(--am1);
}

#sobre h2 {
  color: var(--am1);
}

#sobre span {
  background-color: var(--am1);
}

.sobre__img {
  box-shadow: -10px 10px #262627;
  border-radius: 5px;
}

.adv__img {
  box-shadow: -10px 10px #262627;
  border-radius: 5px;
}

.adv__img img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.adv__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 4rem 15%;
  gap: 4rem;
}

.adv__grid p {
  line-height: 1.5rem;
}

.adv__txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.adv__oab {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.adv__oab a {
  font-weight: 700 !important;
  color: var(--c2);
  transition: 0.3s;
  font-family: "Kanit", sans-serif;
}

.adv__oab a:hover {
  color: var(--c0);
}

.adv__oab img {
  width: 32px;
  height: 32px;
}
#flavio {
  margin-bottom: 2rem;
}

#flavio .detalhe-top {
  right: 34%;
}

#flavio .detalhe-bot {
  left: 34%;
}

#gabi .detalhe-top {
  right: 32%;
}

#gabi .detalhe-bot {
  left: 32%;
}

/* mobile */
@media (max-width: 800px) {
  .sobre__grid {
    padding: 4rem 40px;
    gap: 0rem;
    background: url("./../img/icon/hammer.svg") no-repeat top 2rem left 0px;
  }

  .sobre__img {
    display: none;
  }

  .sobre__subtit span {
    width: 50px;
  }

  .adv__img {
    grid-row: 1;
  }

  .adv__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 4rem 15%;
    gap: 2rem;
  }

  .adv__grid p {
    line-height: 1.5rem;
  }

  .adv__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2;
  }

  #flavio .detalhe-top {
    left: 65%;
  }

  #flavio .detalhe-bot {
    left: 10%;
  }

  #gabi .detalhe-top {
    left: 73%;
  }

  #gabi .detalhe-bot {
    left: 5%;
  }
}
